<p id="notice"><%= notice %></p>

<p>
  <b>Anoatendimento:</b>
  <%= @atendimento.AnoAtendimento %>
</p>

<p>
  <b>Trimestreatendimento:</b>
  <%= @atendimento.TrimestreAtendimento %>
</p>

<p>
  <b>Mesatendimento:</b>
  <%= @atendimento.MesAtendimento %>
</p>

<p>
  <b>Dataatendimento:</b>
  <%= @atendimento.DataAtendimento %>
</p>

<p>
  <b>Codigoregiao:</b>
  <%= @atendimento.CodigoRegiao %>
</p>

<p>
  <b>Regiao:</b>
  <%= @atendimento.Regiao %>
</p>

<p>
  <b>Uf:</b>
  <%= @atendimento.UF %>
</p>

<p>
  <b>Codigotipoatendimento:</b>
  <%= @atendimento.CodigoTipoAtendimento %>
</p>

<p>
  <b>Descricaotipoatendimento:</b>
  <%= @atendimento.DescricaoTipoAtendimento %>
</p>

<p>
  <b>Codigoassunto:</b>
  <%= @atendimento.CodigoAssunto %>
</p>

<p>
  <b>Descricaoassunto:</b>
  <%= @atendimento.DescricaoAssunto %>
</p>

<p>
  <b>Grupoassunto:</b>
  <%= @atendimento.GrupoAssunto %>
</p>

<p>
  <b>Codigoproblema:</b>
  <%= @atendimento.CodigoProblema %>
</p>

<p>
  <b>Descricaoproblema:</b>
  <%= @atendimento.DescricaoProblema %>
</p>

<p>
  <b>Grupoproblema:</b>
  <%= @atendimento.GrupoProblema %>
</p>

<p>
  <b>Sexoconsumidor:</b>
  <%= @atendimento.SexoConsumidor %>
</p>

<p>
  <b>Faixaetariaconsumidor:</b>
  <%= @atendimento.FaixaEtariaConsumidor %>
</p>

<p>
  <b>Cepconsumidor:</b>
  <%= @atendimento.CEPConsumidor %>
</p>


<%= link_to 'Edit', edit_atendimento_path(@atendimento) %> |
<%= link_to 'Back', atendimentos_path %>
